# R
.Rhistory
.RData
.Rproj.user

# Knitr Cache
/Lecture\ Notes/cache/*
/Lecture\ Slides/cache/*

# Python
.ipynb_checkpoints
.python-version
__pycache__

*sol.ipynb
*sol.py

# LyX
\#*#
*.lyx~
*.tex

# Other
/Private
README.html
/Moodle/*/*.*ml
/Jupyter/stash
